<html>
  <head>
    <title>Data Extraction</title>
  </head>
  <body>
    <h1>Data Extraction</h1>
    <form action="/create" method="post">
        <input type="text" name="contract_name" placeholder="Contract Name">
        <input type="text" name="start_date" placeholder="start date">
        <input type="text" name="stop_date" placeholder="stop date">
        <input type="text" name="file" placeholder="output file path">
        <input type="submit" value="Get data">
      </form>
  </body>
</html>